{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Log In
{% endblock title %}
    


{% block content %}
    <h2 class="mt-5">Log in</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-outline-success mt-5">Log In</button>
    </form>
    <p class="mt-2">New user? <a href="{% url 'signup' %}">SignUp</a></p>
    <p class="text-warning">Forgot password? <a href="{% url 'password_reset' %}">reset here</a></p>
{% endblock content %}
    